@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Notable&display=swap');


*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid img{
    max-height: 50px;
    max-width: 40px;
    margin-right: 40px;
   border-radius:100px;
   margin-top: -15px;
    
}

.navbar{
    background: linear-gradient(to bottom, #ecd033, #ff8c00);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-brand{
    font-family: notable;
    font-size: 35px;
}
.nav-link{
    font-family: coiny;
    color: black;
    font-size: 20px;
}

#myCarousel{
    background: linear-gradient(to bottom, #37a641, #64ac34);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

#menu {
    padding: 50px 0;
  }
  
  .bg-black {
    background: linear-gradient(to bottom, #202e1e, #30160b);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  
  .text-white {
    color: white;
    
  }
  #menu h1{
    font-family: coiny;
  }
  
  .text-center {
    text-align: center;
  }
     
  .menu-items {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  
  .menu-item {
    text-align: center;
    margin: 15px;
    position: relative;
  }
  
  .menu-item .star-image {
    width: 400px;
    height: 350px;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  
  }
  

 .menu-item h3 {
    margin-top: 10px;
    font-size: 28px;
    font-family: coiny;
  }
  .menu-item p{
    max-width: 200px;
    margin: 0px auto;
    margin-top: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding: 10px; 
    border-radius: 5px; 
    box-shadow: 1px 1px 1px 20px rgba(71, 66, 66, 0.3); 
    font-weight: bold;
  }
  #ubicacion {
    background: linear-gradient(to bottom, #ec5a33, #ff8c00);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: white; /* Cambia el color del texto para que sea legible en el fondo */
    padding: 50px 0; /* Ajusta el espaciado interno si es necesario */
  }
.ubicacion h1{
    font-family: coiny;
    color: gold;
    margin-top: 20px;
    margin-bottom: 40px;
}
.mapa iframe{
    border-radius: 25px;
    padding: 10px;
}
#ubicacion i{
    background-color: #37a641;
    border-radius: 10px;
    font-size: 40px;
    }
.direcc h5{
    margin-top: 10px;
    margin-bottom: 30px;
}    
#ubicacion p{
    color: blanchedalmond;
    font-size: 25px;
    font-weight: bold;
}
#ubicacion .local {
    max-width: 380px;
    max-height: 500px;
   align-items: center;
    border-radius: 25px;
    overflow: hidden;
    
    position: relative; 
}

@media screen and (max-width: 768px) {
  .container-fluid img{
    max-height: 30px;
    max-width: 30px;
    margin-right: 20px;
   border-radius:100px;
   margin-top: 0px;
    
}  
  
  .carousel-item img {
      max-width: 100%; /* Ajustamos el ancho máximo al tamaño del contenedor */
      max-height: auto; /* Dejamos que la altura se ajuste automáticamente */
    }
    .navbar-brand{
      font-family: notable;
      font-size: 15px;
  }
  .menu-item .star-image {
    width: 100%;
    height: 50%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  
  }
  .mapa iframe{
    border-radius: 25px;
    padding: 10px;
    width: 100%;
}
#ubicacion .local {
  max-width: 100%;
  max-height: 100%;
 align-items: center;
  border-radius: 25px;
  
}
#ubicacion p{
  color: black;
}
  }


 
